.menu {
    width: 100%;
    height: 85vh;
    background-color: rgba(191, 191, 191, 0.788);
    position: absolute;
    left: 0;
    display: none;
    z-index: 99;

    .menu-link {
        width: 15%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        transition: .2s;
        transform: translateX(-100%);

        @media(max-width: 940px) {
            width: 100%;
            align-items: baseline;
        }

    }

    .show {
        transform: translateX(0);
    }
}

.menu-show {
    display: block;
}