@font-face {
    font-family: 'roboto';
    src: url('./fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'rubik';
    src: url('./fonts/RubikWetPaint-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 90vw;
    margin: 0 auto;
}

@import './components/navbar/navbar';
@import './pages/_navbarBottom';
@import './components/menu/_menu';
@import './components/main/_main';
@import './components/productsItem/_productsItem';
@import './components/categori/_categori';